[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
black = "*"
ipykernel = "*"
seaborn = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9"
